.game-over-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-over-content p {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  text-align: center;
  font-weight: 00;
}

.reset-button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: rgb(114, 198, 106);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.reset-button:hover {
  background-color: #5c9658;
}

.continue-button {
  margin-bottom: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: #ebcf51;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.continue-button:hover {
  background-color: #d0af1d;
}

@media screen and (max-width: 480px) {
  .game-over-content p {
    font-size: 1.3rem;
  }
  
  .reset-button, .continue-button {
    font-size: 0.8rem;
    padding: 0.5rem 1.2rem;
  }
}
