.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #d3d6da;
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.filled {
  border-color: #878a8c;
}

.absent {
  background-color: var(--color-absent, #787c7e);
  border-color: var(--color-absent, #787c7e);
  color: white;
}

.present {
  background-color: var(--color-present, #c9b458);
  border-color: var(--color-present, #c9b458);
  color: white;
}

.correct {
  background-color: var(--color-correct, #6aaa64);
  border-color: var(--color-correct, #6aaa64);
  color: white;
}

.letter {
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.reveal {
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.reveal.absent {
  animation-name: revealAbsentCell;
}

.reveal.correct {
  animation-name: revealCorrectCell;
}

.reveal.present {
  animation-name: revealPresentCell;
}

.reveal .letter {
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: rotateLetter;
}

@keyframes revealAbsentCell {
  0% {
    transform: rotateX(0deg);
    background-color: transparent;
  }
  50% {
    background-color: transparent;
  }
  50.1% {
    background-color: var(--color-absent, #787c7e);
  }
  100% {
    transform: rotateX(180deg);
    background-color: var(--color-absent, #787c7e);
  }
}

@keyframes revealPresentCell {
  0% {
    transform: rotateX(0deg);
    background-color: transparent;
  }
  50% {
    background-color: transparent;
  }
  50.1% {
    background-color: var(--color-present, #c9b458);
  }
  100% {
    transform: rotateX(180deg);
    background-color: var(--color-present, #c9b458);
  }
}

@keyframes revealCorrectCell {
  0% {
    transform: rotateX(0deg);
    background-color: transparent;
  }
  50% {
    background-color: transparent;
  }
  50.1% {
    background-color: var(--color-correct, #6aaa64);
  }
  100% {
    transform: rotateX(180deg);
    background-color: var(--color-correct, #6aaa64);
  }
}

@keyframes rotateLetter {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@media screen and (max-width: 480px) {
  .cell {
    width: 55px;
    height: 55px;
    font-size: 2.4rem;
  }
}
