header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid darkgray;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #3d3d3d;
  margin: 0;
  letter-spacing: 1px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
}

.exit-button {
  color: #d32f2f;
  font-weight: 500;
}
