.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.row {
  display: flex;
  margin-bottom: 8px;
  width: 100%;
  justify-content: center;
}

.key {
  width: 45px;
  height: 60px;
  background-color: #d8d8e7;
  border: none;
  border-radius: 8px;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.action {
  width: auto;
  min-width: 65px;
  padding: 0 10px;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.absent {
  background-color: #787c7e;
  color: white;
}

.present {
  background-color: #c9b458;
  color: white;
}

.correct {
  background-color: #6aaa64;
  color: white;
}

@media screen and (max-width: 480px) {
  .key {
    width: 32px;
    height: 50px;
    font-size: 1rem;
    margin: 0 2px;
  }
  
  .action {
    min-width: 50px;
  }
}
